//- Creating the "block config"
block variables
  //- Adding the variables from vars.pug
  include vars

doctype html
html(lang= htmlLang prefix="og: http://ogp.me/ns#")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    //- Meta tags for Facebook's Opengraph, you can uncomment them
    //- meta(property="og:type" content= ogType)
    //- meta(property="og:title" content= ogTitle)
    //- meta(property="og:description" content= ogDescription)
    //- meta(property="og:image" content=ogImage)
    //- meta(property="og:url" content=ogUrl)

    meta(name="title" content= metaTitle )
    meta(name="description" content= metaDescription ) 
    meta(name="keywords" content= metaKeywords )
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="icon" href= iconPath type="image/svg")
    link(rel="stylesheet" href= normalize)
    link(rel="stylesheet" href= flexboxPath)
    link(rel="stylesheet" href= stylesPath)
    title #{pageTitle} | #{pageSite}
  body
    //- Your content goes below
    //- Add your content here
    //- Your conten ends here
    script(type="text/javascript" src= jsPath)