-htmlLang           =   'es'
//- Opengraph vars
-ogType             =   'og Type'
-ogTitle            =   'og Title'
-ogDescription      =   'og Description'
-ogImage            =   'og Image'
-ogUrl              =   'og URL'
//- End Opengraph vars

-metaTitle          =   'Main Title'
-metaDescription    =   'Website Description'
-metaKeywords       =   'Website Keywords'
-iconPath           =   '/img/icon.svg'
-pageTitle          =   'Amazing'
-pageSite           =   'Page'
-normalize          =   '/css/normalize.css'
-flexboxPath        =   '/css/flexbox.css'
-stylesPath         =   '/css/styles.css'