doctype html
html(lang="es-MX")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles/styles.css")
    title Page built with GULP
  body
    //- Your content goes below

    //- Add your content here

    //- Your conten ends here
    script(src="/js/scripts.js")